<jfv-header brand="Peliculas APP"></jfv-header>


<div class="row m-5">
  <H3>Listado de Peliculas</H3>
  <router-outlet></router-outlet>

  <!-- <div class="col-md-12"><h6>Filtros</h6></div>
  <div class="col-12 col-md-3">
    <div class="form__group field w-100 m-0">
      <jfv-input brand="text" place="Nombre"></jfv-input>
    </div>

  </div>
  <div class="col-12 col-md-3">
    <jfv-input brand="text" place="Fecha de lanzamineto"></jfv-input>
  </div>
  <div class="col-12 col-md-3">
    <jfv-input brand="date" place="Fecha Inicio"></jfv-input>
  </div>
  <div class="col-12 col-md-3">
    <jfv-input brand="date" place="Fecha Fin"></jfv-input>
  </div>
  <div class="row py-3">
    <button (click)="Filtrar()">Filtrar</button>
  </div> -->
</div>
<!-- <app-movie-list [yearRealease]="1999"></app-movie-list> -->
<!-- <router-outlet></router-outlet> -->
